{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for i in object_list %}
<div class="card mb-4">
    <div class="card-header">
        Category: <a href = "{{ i.category.get_absolute_url }}">{{ i.category }}</a>
    </div>
    <div class="row no-gutters">
        <div class="col-md-6">
            {% if i.photo %}
            <img src="{{ i.photo.url }}" alt="" width="350" class="mb-3 mt-3">
            {% else %}
            <img src="https://picsum.photos/id/1060/350/235/?blur=2" alt="" class="mb-3 mt-3">
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h4 class="card-title mb-4">{{ i.title }}</h4>
                <p class="card-text">{{ i.content|safe|truncatewords:20 }}</p>
                <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ i.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
{% endfor %}
{% endblock %}
