<nav class="navbar navbar-expand-lg navbar-light bg-light pl-3">
    <a class="navbar-brand ml-3 mr-3" href="{% url 'home' %}"><h3> News</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0 ml-5">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><h5>Main page</h5></a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'add_news' %}"><h5>Add news</h5></a></li>
            {% endif %}
        </ul>
        <span class="navbar-text me-5">
            {% if request.user.is_authenticated %}
            Glad to see you, {{ user.username }}! | <a href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Log in</a>
            {% endif %}
        </span>
    </div>
</nav>
